{% extends 'base.html' %}

{% block content %}

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<section>

					<h2>Quick overview </h2>
					<p>Cucumbers are a fun crop to incorporate in your garden or simply in large pots. There are two
						main types of cucumbers, vining and bush cucumbers, both of which consistently grow cucumbers
						throughout the entire growing season. If you're growing a vining variety, make sure to also buy
						a trellis (or grow it near a slotted fence!) for it to grow on, but bush varieties should
						probably be planted in actual garden beds. Make sure to regularly harvest the cucumbers and
						water them frequently, but there are tons of different ways you'll be able to use them!
					<p>

					<h2>Varieties</h2>
					<p>
						Vining, bush
					</p>

					<h2>How to Plant</h2>
					<p>Start pepper seeds 1/4 of an inch deep, three to a pot filled with potting mix. For faster
						germination, maintain soil at 70°F (21°C) or above.

					<p>

					<h2>Caring tips</h2>
					<p>- Place in direct sunlight <br>
						- Water 3 times a week with around ½ cup of water per seedling or a 1-1 ½ cups of water per
						plant. Allow soil to dry out between waterings <br>
						- Trellises required for vining, decent amount of pests, constant harvesting required <br>
						- The blossoms are extremely sensitive so if it’s too hot outside use shades to maintain
						adequate temperature <br>
					<p>


					<h2>Planting Outside </h2>
					<p>Ideal time to plant outdoes is May 16-30th, but it can be grown any time in the pot inside. Make
						the transplant holes 3 to 4 inches deep and 12 to 18 inches apart in the row. Space the rows 2
						to 3 feet apart.
					<p>

				</section>

			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>
{% endblock %}